@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


a.navbar-brand {
	font-family: 'Gorditas', cursive;
	font-size: 1.75rem; 
}
span.bollydumb-ver {
	font-family: 'Roboto', sans-serif;
	font-size: 1.25rem;
}

@media (max-width: 350px){
	a.navbar-brand {
		font-size: 1.25rem;
	}
}

#about_navlink {
	padding-right: 30px;
}



main > .container {
  	padding: 60px 15px 0;
}

.footer > .container {
  	padding-right: 15px;
  	padding-left: 15px;
}



.welcome-bg {
  	margin-top: 3vh;
  	margin-left: 26px;
  	margin-right:26px;
  	margin-bottom: 20px;
  	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.075);
  	border-radius: 8px;
  	background: #FFC107;
}

@media (min-height: 700px){
	.welcome-bg {
		margin-top: 8vh;
	}
}

@media (min-height: 800px){
	.welcome-bg {
		margin-top: 10vh;
	}
}

@media (min-height: 1000px){
	.welcome-bg {
		margin-top: 12vh;
	}
}
.welcome-heading-text {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	margin-top: 12px;
	margin-bottom: 5px;
}

.welcome-info-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	margin-bottom: 12px;
	margin-left: 19px;
	margin-right: 19px;
}




.movie-name-heading {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
}

.movie-name-box {
	height: 80px;
	box-shadow: 0px 0px 0px 3.2px rgba(0, 123, 255, 0.25);
	border: 1px solid #80BDFF;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.movie-name-text {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #495057;
	margin-bottom: 0px;
}

.input-group-prepend {
	height: 42px;
}
#timer_value {
	height: 42px;
	border-radius: 2px 6px 6px 2px;
}

.control-buttons-row {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	padding: 0px;
	margin-top: 20px;
}

.bi-clock {
	margin-left: 3px;
}

i {
	display: inline-flex;
	align-items: center;
}

.generate-btn {
	margin-left: 5px;
	width: 100px;
	height: 42px;
}

@media (min-width: 350px){
	.generate-btn {
		width: 150px;
	}
}
@media (min-width: 450px){
	.generate-btn {
		width: 200px;
	}
}


.instruction-box {
	margin-top: 12px;
}

.instruction {
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

.timer-box{
	margin-top: 10px;
}

.timer-text{
	font-family: 'Share Tech Mono', monospace;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 62px;
color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 450px){
	.timer-text{
		font-size: 34px;
	}
}

.copyright-info {
	font-family: Roboto;
	font-style: normal;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #CCCCCC;
}

.license-info {
	font-family: Roboto;
	font-style: normal;
	font-weight: 200;
	font-size: 12px;
	line-height: 19px;
	color: #CCCCCC;
}

.third-party-box {
	margin-top: 35px;
}

.fivepx-mb {
	margin-bottom: 5px;
}

.fivepx-mb>a {
	text-decoration: underline;
}